/* Waybar dotfiles from sunworms */
/* https://git.gay/sunworms */

* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0 10px 10px 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: transparent;
  font-family: Symbols Only Nerd Font Propo, Aporetic Sans;
  font-size: 11pt;
}

window#waybar.empty #window {
  border: none;
  padding: 0;
}

#mpris,
#idle_inhibitor,
#window,
#cpu,
#backlight,
#memory,
#wireplumber,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 4pt;
  padding-left: 4pt;
  background: #181818;
}

#workspaces {
  padding: 0 4pt;
  border: 2pt solid #424242;
  background: #181818;
}

#workspaces button {
  padding: 0 2pt;
  color: #B8B8B8;
}

#workspaces button:hover {
  color: #F7F7F7;
  background-color: #282828;
  border-top: 2pt solid #4A7FB5;
  border-bottom: 2pt solid #4A7FB5;
}

#workspaces button.active,
#workspaces button.active:hover {
  color: #4A7FB5;
}

#workspaces button.urgent {
  color: #6FA0D0;
}

#window {
  border: 2pt solid #545454;
}

#tray {
  border: 2pt solid #424242;
  padding: 0 6pt;
}

#idle_inhibitor {
  border: 2pt solid #545454;
}

#cpu {
  border: 2pt solid #343434;
}

#backlight {
  border: 2pt solid #282828;
}

#memory {
  border: 2pt solid #1E1E1E;
}

#wireplumber {
  border: 2pt solid #424242;
}

#battery {
  border: 2pt solid #D0D0D0;
}

#clock {
  border: 2pt solid #545454;
}

#network {
  border: 2pt solid #6FA0D0;
}

#mpris {
  border: 2pt solid #B8B8B8;
}